.Header {
  background-color: white;
  height: 150px;
  padding: 20px;
  margin: 50px 50px 50px 50px;
}

.header-logo {
  float: left;
  width: 600px;
}

.navbar {
  display: inline-block;
  margin: 25px;
  float: right;
}

ul {
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1px;
  font-weight: 400;
}

.collection {
  display: inline-block;
  padding: 37px 0;
  margin-right: 30px;
}

a:link, a:visited {
  text-decoration: none;
  color: #999;
}

a:hover, a:active {
  color: #333333;
  border-bottom: 1px solid #333333
}

.highlight {
  border-bottom: 1px solid #333333;
}
