.img-div {
  display: inline-block;
  border: 1px solid #ECEDE8;
  margin: 30px 30px;
  overflow: hidden;
  width: 362px;
  vertical-align: top;
}

.img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}
