.img-div {
  display: inline-block;
  position: relative;
  border: 1px solid #ECEDE8;
  margin: 30px 30px;
  overflow: hidden;
  width: 362px;
  vertical-align: top;
}

.img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.deleteImage {
  background: white;
  border: none;
  border-radius: 5px;
  color: #999;
  cursor: pointer;
  opacity: .7;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10%;
}

a:hover {
  background: transparent;
  text-decoration: none;
}
